.menu-icon {
  font-size: 1.5rem;
}

.text-gray {
  color: var(--text-color);
}

.box-shadow{
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05) !important;
}

.stat-card {
    transition: transform 0.3s ease;
    border-bottom: 3px solid transparent;
    &:hover {
        transform: translateY(-5px);
    }
}

.card {
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.05);
}

.avatar {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge {
  padding: 0.35em 0.7em;
  font-size: 0.85em;
  border-radius: 0.5rem;
}


.stat-icon {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        margin-right: 15px;
    }